/* font styles */
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* banner style */
.banner {
    
}


.banner-title {
    font-weight: 700;
    font-size: 50px;
    /* text-align: right; */
    color: #151414;
    margin-left: 845px;
    margin-right: 230px;
    margin-bottom: 50px;
    margin-top: -500px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    margin-left: 845px;
    margin-right: 230px;
    margin-bottom: 80px;
}

.banner-btn {
    margin-left: 1236px;
    margin-right: 200px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    width: 160px;
    height: 64px;
    border: 2px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #FD6E0A;
}

/* person-text styles */
.person-text {
    display: flex;
    align-items: center;
    margin: 0 100px;
    gap: 78px;
}

.img-back {
    background: bisque;
    margin-top: 70px;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
    border-radius: 200%;
}

.text-title {
    margin-top: 170px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.text-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.list-item {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

/* my plan style */
.my-plan {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-top: 214.3px;
}

/* plan container style */
.plan-container {

    display: flex;
    text-align: center;
    gap: 86px;
    padding: 30px 33px;
    height: 377px;
    background: #FFFFFF;
    box-shadow: 5px 10px 60px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.image-icon {
    justify-content: center;
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-bottom: 5px;
}

/* watch section */
.watch-image {
    margin-left: 95px;
    background-image: url('../images/gradient2.png');
    background: linear-gradient(90deg, #ff0d0d 0%, rgba(241, 91, 34, 0) 100%);
    border-radius: 8px;
}

.image-title {
    margin-left: 200px;
    font-weight: 700;
    font-size: 40px;
    color:azure;
    margin-top: -200px;
    
   
}

.image-btn {
    margin-left: 200px;
    padding: 20px;
    background-color:azure;
    color:#FD6E0A;
    border-radius: 10px;
    border: 0;
    margin-top: 10px;
}

.last {
    display: flex;
    gap: 30px;
    margin-left: 30px;
    gap: 1opx;
    margin-top: 200px;

    left: 33px;
    top: 0;
}

.last-title {

    font-size: 45px;
    color: #737272
}

.last-description {
    font-size: 16px;
    color: #737272
}

.email {
    font-size: 16px;
    color: #737272
}

.phone {
    font-size: 16px;
    color: #737272
}

/* gap for subscribe part */
.subscribe {
    margin-bottom: 50px;
}

.email {
    margin-top: 20px;
    margin-bottom: 20px;
}